.row {
    margin: 10px;
}

.alive {
    background-color: #000;
}

.board-row {
    height: 15px;
}

.board-cell {
    display:inline-block;
    width: 15px;
    height: 15px;
    border:1px solid black;
}

.form-wrap {
    width: 30%;
}
.form-wrap input {
    float: right;
}