<div>
  <div class="row">
    <div class="form-wrap">
      <label>Rows:</label>
      <input type="number" #rows>
    </div>
  </div>

  <div class="row">
    <div class="form-wrap">
      <label>Columns:</label>
      <input type="number" #columns>
    </div>
  </div>

  <div class="row">
    <button type="button" (click)="initializeBoard(rows.value, columns.value)">Submit</button>
  </div>
</div>

<div>
  <div class="row">
    <button type="button" (click)="startExecution()">Start execution</button>
  </div>
  <div class="row">
    <button type="button" (click)="stopExecution()">Stop execution</button>
  </div>
  <div class="row">
    <button type="button" (click)="resetExecution()">Reset execution</button>
  </div>

  <div *ngIf="_graphicalBoard && _graphicalBoard.length > 0">
    <div *ngFor="let row of _graphicalBoard" class="board-row">
      <div *ngFor="let cell of row" class="board-cell" [class.alive]="cell">
      </div>
    </div>
  </div>

  <div *ngIf="_graphicalBoard.length === 0">
    <p>Game over.</p>
  </div>
</div>